.header{
    &_container {
        display: grid;
        margin: 0;
        height: 100px;
        width: 100%;
        align-content: center;

        .MuiButtonBase-root {
            background: none;
            width: 100px;
            height: 45px;
            border-radius: 30px;
            &:hover {
                background: rgb(244, 244, 244);
            }
        }

        .MuiButton-outlined {
            width: 145px;
            background-color: #D9D9D9;
            border: none;
            color: #000;
            font-weight: 400;
            &:hover {
                border: none;
                background-color: rgb(201, 201, 201)
            }
        }

        .MuiButton-text {
            color: #000;
            font-weight: 400;
        }
    }

    &_left_items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .MuiButtonBase-root {
            margin-left: 5vw;
            @media (max-width: 1000px) {
                margin-left: 3vw;
            }
        }
    }

    &_right_items {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .MuiButtonBase-root {
            margin-left: 5vw;
            @media (max-width: 1000px) {
                margin-left: 3vw;
            }
        }

    }

    &_items_container {
            @media (max-width: 1200px) {
                padding: 0 5vw 0 5vw; 
            }
        padding: 0 10vw 0 10vw;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    
    
    

    &_logo {
        display: block;
        max-height: 100px;
        img {
            height: 70px;
                @media (max-width: 1000px) {
                    height: 50px;
                }
        } 
    }  
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 30px !important;
    height: 45px;

}